@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo do SisCT!</h1>
    <p>Sistema de Gerenciamento de Cursos e Treinamentos.</p>
    <p>Gerencie os alunos e os cursos.</p>
</div>
