@page
@model PrivacyModel
@{
    ViewData["Title"] = "Politica de Privadade";
}
<h1>@ViewData["Title"]</h1>

    <p>
        Aqui aparece deveria aparecer a descrição de toda politica de privadade, referente ao site.
    </p>
    <H3>
        Este é um projeto exemplo de MVC com DotNet usando Razor Pages.
    </H3>
    <p>
    Razor é uma sintaxe de programação ASP.NET usada para criar páginas da Web dinâmicas com as linguagens de programação C# ou VB.NET.<br/> 
    O Razor está em desenvolvimento desde Junho de 2010 e foi lançado para o Visual Studio 2010 em 2011.<br/> 
    Seus arquivos possuem a extenção .cshtml.
    A renderisação é do lado do servidor, como no PHP, NEXTJS ou APS.
    </p>
